# ---------------- LOG FILES ----------------

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ---------------- DEPENDENCIES ----------------

node_modules


# ---------------- BUILD FILES ----------------

dist
dist-ssr
build


# ---------------- ENV FILES ----------------

.env
.env.*
!.env.example


# ---------------- LOCAL CONFIG ----------------

*.local


# ---------------- EDITOR FILES ----------------

.vscode/*
!.vscode/extensions.json

.idea

.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ---------------- CACHE FILES ----------------

.cache
.temp
.tmp


# ---------------- SYSTEM FILES ----------------

Thumbs.db